

@font-face{
  font-family: "avenir";
  src: url("fonts/avenir-next-free-alternatives-1737391361-0/AvenirNextLTPro-Regular.otf") format("opentype");;
}
@font-face{
  font-family: "cinzel";
  src: url("fonts/cinzel/Cinzel-Regular.otf") format("opentype");
}
@font-face{
  font-family: "goudy";
  src: url("fonts/Goudy Old Style Regular/Goudy Old Style Regular.ttf") format("opentype");
}
@font-face{
  font-family: "ostrich";
  src: url("fonts/ostrich-sans/OstrichSans-Medium.otf") format("opentype");
}
/* Add a gray background color with some padding */

* {
  box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
  font-family:fantasy;
  padding: 20px;
  background: #f1f1f1;
}

/* Header/Blog Title */

.heading{
    width: 100%;
}
.links{
  background-image: url("imgs\sand.png");
  background-size: cover;
  width:100%;
  height: 150px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 20px;
}
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

.fa-paypal {
  background-color:rgb(178, 178, 240);
  border-radius: 15px;
  text-decoration: none;
  padding: 10px;
}

.fa-paypal:hover{
  background-color: #e0dde9;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease-in-out;
  
}
.fa-instagram {
  background: #b90b0b;
  color: white;
  padding: 10px;
  text-decoration: none;
  border-radius: 15px;
}
.fa-instagram:hover{
  background-color: #d80000;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}
.fa-youtube{
  background: rgb(222, 219, 219);
  color: #c70c0c;
  padding: 10px;
  text-decoration: none;
  border-radius: 15px;
}
.fa-youtube:hover{
  background-color: #f0eeee;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}
.socials {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
  padding-top: 20px;
  margin-bottom: 40px;
  font-size:36px;
} 
a{
  padding-inline: 5px;
}