
* {
  box-sizing: border-box;
}
@font-face{
  font-family: "avenir";
  src: url("fonts/avenir-next-free-alternatives-1737391361-0/AvenirNextLTPro-Regular.otf") format("opentype");;
}
@font-face{
  font-family: "cinzel";
  src: url("fonts/cinzel/Cinzel-Regular.otf") format("opentype");
}
@font-face{
  font-family: "goudy";
  src: url("fonts/Goudy Old Style Regular/Goudy Old Style Regular.ttf") format("opentype");
}
@font-face{
  font-family: "ostrich";
  src: url("fonts/ostrich-sans/OstrichSans-Medium.otf") format("opentype");
}
/* Add a gray background color with some padding */
body {
  font-family: avenir;
  padding: 10px 20px;
  background: #f1f1f1;
}
.bar{
  height: 150px;
  display: flex;
  flex-wrap: nowrap;
  background-image: url("imgs/CutstoneSandTile1.webp");
  background-size: 100%;
  background-repeat: no-repeat;

}
.link{
  padding: 10px;
}
/* Header/Blog Title */

.heading{
    width: 100%;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}
